{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h1 class="text-center">Make a New Booking</h1>
    <div class="row">
        <div class="col-12 col-md-6 ">
            <img  class="img-fluid side-img d-none d-md-block" src="{% static 'images/steak.jpeg' %}" alt="steak dinner">
        </div>
        <div class="col-12 col-md-6 text-center">
            <h5 class="mt-5">You can make a booking for up to 6 people. If you want to book for more than 6 people please contact us for special arrangements.</h5>
<form action="{% url 'booking_detail' %}" method="POST" class="form-control mt-5 ">
    {% csrf_token %}
<label for="date">Please choose a day</label>
<input id="date" name="date" type="date" required><br>
<input type="submit" class="btn btn-sm btn-success mt-3">
</form>
{% if user.is_staff %}
<a href="{% url 'booking_date' %}" class="btn btn-sm btn-success mt-4">Booking list</a>
<a href="{% url 'closed_list' %}" class="btn btn-sm btn-success mt-4">Closed list</a>
{% endif %}
</div>

</div>
<div class="row">
    
</div>
<div class="row mt-5">
    <div class="col-12 col-md-6 text-center booking_list">
                <h3 class="mt-5">View your bookings</h3>
                <p class="mt-5">Manage your bookings. Check your details and cancel bookings</p>
            <a  class="btn  btn-success mt-5" href="{% url 'customer_booking_list' %}">Your Bookings</a>
    </div>
    <div class="col-12 col-md-6 ">
        <img  class="img-fluid d-none d-md-block" src="{% static 'images/party.jpeg' %}" alt="">
    </div>
</div>
</div>
<script>
    const d = new Date();
    let newDate = d.toISOString().split('T')[0];
    document.getElementById("date").setAttribute("min",newDate)
</script>
{% endblock %}