{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center">
<h1>Choose a Date</h1>
<form action="{% url 'booking_detail' %}" method="GET" class="form-control">
    {% csrf_token %}
<label for="date">Please choose a day</label>
<input id="date" name="date" type="date" required><br>
<input type="submit" class="btn btn-sm btn-success mt-3">
</form>
{% if user.is_staff %}
<a href="{% url 'booking_date' %}" class="btn btn-sm btn-success mt-4">Booking list</a>
<a href="{% url 'closed_list' %}" class="btn btn-sm btn-success mt-4">Closed list</a>
{% endif %}
</div>
</div>
<div class="row">
    
</div>
<div class="row mt-5">
    <div class="col text-center">
        <h5>View your bookings</h5>
        <a href="{% url 'customer_booking_list' %}" class="btn btn-success btn-sm">Your Bookings</a>
    </div>
</div>
</div>
<script>
    const d = new Date();
    let newDate = d.toISOString().split('T')[0];
    document.getElementById("date").setAttribute("min",newDate)
</script>
{% endblock %}