{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if user.is_staff %}
<div class="container mb-4">
    <div class="row">
        <div class="col text-center">
            <h1>Details</h1>
            <p> <strong>Date: </strong> {{object.day}}</p>
            <p> <strong>Reason: </strong> {{object.reason}}</p>
            <a href="{% url 'closed_delete' object.id %}" class="btn btn-sm btn-danger">Delete</a>
            <a href="{% url 'closed_update_form' object.id %}" class="btn btn-sm btn-success">Edit</a>
            <a href="{% url 'closed_list' %}" class="btn btn-sm btn-primary">Back</a>
    </div>
    {% else %}
    <div class="row">
        <div class="col text-center">
            <h3>You do not have permission to access page</h3>
        </div>
    </div>
    {% endif %}
</div>
</div>
{% endblock %}