{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if user.is_staff %}
<div class="container">
    <div class="row">
        <div class="col text-center">
<h1>Closed Dates</h1>
<form method="post"  >{% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-success" type="submit" value="Update">
    <a href="{% url 'closed_list' %}" class="btn btn-danger">Cancel</a>
</form>
</div>
</div>
{% else %}
<div class="row">
    <div class="col text-center">
        <h3>You do not have permission to access this page.</h3>
    </div>
</div>

{% endif %}
</div>

{% endblock %}