{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if user.is_staff %}
<div class="container mb-4">
    <div class="row">
        <div class="col-10 offset-1 text-center">
<h1>Closed Dates</h1>
<ul class="list-group">
{% for date in dates %}
   <li class="list-group-item"><a href="{% url 'closed_detail' date.id %}">{{date.day}}</a></li>
{% endfor %}
</ul>
<a href="{% url 'closed_create_form' %}" class="btn btn-primary mt-5 ">Create New Closed date</a>
<a href="{% url 'booking_day' %}" class="btn btn-success mt-5 ">Back</a>
</div>
</div>
{% else %}
<div class="row">
    <div class="col text-center">
        <h3>You do not have permission to access this page</h3>
    </div>
</div>

{% endif %}

</div>

{% endblock %}