{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container mb-4">
    <div class="row">
        <div class="col text-center">
            {% if user.is_staff %}
            <h1>Details</h1>
            <h2> {{ object.title }} </h2>
            <p>Course: {{ object.get_course_display }}</p>
            <p>{{ object.description }}</p>
            <p>Price: £{{ object.price}}</p>
            <a href="{% url 'menu_list' %}" class="btn btn-primary btn-sm">Back to Menu List</a>
            <a href="{% url 'item_update_form' object.id %}" class="btn btn-success btn-sm">Edit</a>
            <a href="{% url 'item_delete' object.id %}" class="btn btn-danger btn-sm">Delete</a>
            {% else %}
            <h2>You do not have permission to access this page.</h2>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}