@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Raleway:wght@300;400&family=Work+Sans:wght@400;500;800&display=swap');

body {
  font-family: 'Raleway', sans-serif;
}


#goat {
    width: 75px;
    height: 75px;
  }

.main-jumbo {
    background-image: url('../static/images/jumbo.jpg');
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

ul {
      list-style-type: none;
  }

a {
    text-decoration: none;
    color: black;
}

#logo {
  font-weight: 600;
  font-size: 200%;
  padding-left: 20px;
}

nav {
  font-weight: 400;
  font-size: 150%;
}


