#goat {
    width: 75px;
    height: 75px;
  }

.main-jumbo {
    background-image: url('/images/jumbo.jpg');
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

ul {
      list-style-type: none;
  }

a {
    text-decoration: none;
    color: black;
}

#logo {
  font-weight: 600;
  font-size: 200%;
  padding-left: 20px;
}

nav {
  font-weight: 400;
  font-size: 150%;
}


