{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
    <div class="container py-4">
      <div class="p-5 mb-4 bg-light rounded-3 main-jumbo">
        <div class="container-fluid py-5 jumbo-welcome">
          <h1 class="fw-bold display-5 text-light">Welcome</h1>
          <p class="col-md-8 fs-4 text-light">The Smoking Goat offers imaginative and beautifully presented dishes, showcasing our “small plates”, afternoon “British tapas” and impossible-to-resist desserts.
           Just want to drink and relax with friends? We offer a comprehensive drinks menu and range of cocktails.</p>
          <a  href="{% url 'menu_page' %}" class="btn btn-primary btn-lg">Our Menu</a>
        </div>
      </div>
  
      <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-5 text-white bg-dark rounded-3">
            <h2>Recipes</h2>
            <p>Login to have access to easy home recipes created by our own chef.</p>
            <a href="{% url 'recipes' %}" class="btn btn-outline-light">Easy Home Recipes</a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="h-100 p-5 bg-light border rounded-3">
            <h2>Bookings</h2>
            <p>Please SingIn/SignUp to make a booking for up to 6 people</p>
            <a href="{% url 'booking_day' %}" class="btn btn-outline-secondary">Booking</a>
          </div>
        </div>
      </div>
  
      
    </div>
  </main>
 

{% endblock %}